
.madinHeader
{
      height: 31px;
      display: flex;
      /* flex-direction: row-reverse; */
      justify-content: space-between;
      padding: 1% 3%;
      align-items: center;
}


.Login{
display:flex;
flex-direction: column;
align-items: center;
}

