.body {
      display: flex;
      gap : 10px;
}
.homelogo{
      display:flex;
      height: 700px;
      margin: 0 0 4% 0;
      justify-content: space-between;
      & > section:nth-child(1) {
            display:flex;
            justify-content: center;
            align-items: center;
            background:black;
            width: 50%;
            & span {
                  font-size: 6em;
                  font-family: vitroCoreTTF;
                  color : white;
                  text-shadow: 4px 4px 4px gray;
            }
      }
      & > section:nth-child(2)
      {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            & span {
                  font-size: 6em;
                  font-family: vitroCoreTTF;
                  color : black;
                  text-shadow: 4px 4px 4px gray;
            }
            & img {
                  width: 70%;
                  height: 53%;
                  user-select: none;
            }
      }
      
      
}
.explain{
      height: 800px;    
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}
.grayblock{
      background-color: #F2F2F8;
}
.header{
      font-size: 3em;
      height: 10%;
      font-weight: bold;

}
.explanation{
      height: 700px;
      width: 100%;
      display:flex;

      & > section:nth-child(2){
            font-size: 2em;
            display: flex;
            justify-content: space-evenly;
      }

}
.topheader{
      position: sticky;
      font-weight: bold;  
      font-size: 1.2em;
}
#about{
      & > section:nth-child(1) {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            width: 40%;
            & > section:nth-child(1) {
                  height: 61%;
                  width: 55%;
                  display: flex;
                  justify-content: inherit;
            }
            & > section:nth-child(2) {
                  height: 43%;
                  width: 55%;
                  display:flex;
                  justify-content: flex-end;
                  &  section {
                        margin : 3%;
                        font-weight: bold;
                  }
                  & > section:nth-child(1)
                  {
                        display: flex;
                        flex-direction: column;
                        width: 23%;
                        justify-content: space-evenly;;
                        align-items: center;    
                  }
                  & > section:nth-child(2)
                  {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                  }
            }
      }
      & > section:nth-child(2) {
            width: 60%;
      }
      & img {

            border-radius: 10em;
            border : 1px solid black;
      }
}
.explanation2{
      height: 700px;
      width: 100%;
      display:flex;
      justify-content: space-evenly;
      margin-top: 4%;
}
li{
      margin : 5px;
}
