.loginBody{
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 95%;
      padding: 10px;
      &::before{
            content:"";
      }
}
.close{
      position: absolute;
      right: 18px;
}
.logo{
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      margin-bottom: 4%;
      & span {
            position: absolute;
            left: 41%;
      }
}


.btnClick{
      height: 12%;
}
.oauthExplain{
      height: 7%;
      font-size: 0.84em;
}
.oauthClick{
      display:flex;
      width: 55%;
      justify-content: space-around;
      height: 12%;
}

.logoimg{
      width: 27%;
      position: absolute;
      left: 36%;
      top: 4%;
}
.xbutton{
      width: 4%;
      position: absolute;
      right: 5%;
      top: 2%;
      background: url("./img/x-button.png") no-repeat center center;
      background-size: 95%;
      cursor : pointer;
}

.kakao{
      background: url("./logo/logo-kakao.png") no-repeat center center;
      background-color: #FFD11A;
}
.google{
      background: url("./logo/logo_google.png") no-repeat center center;
      border : 1px solid rgb(88, 86, 86)
}
.facebook{
      background: url("./logo/logo-zuckerberg.png") no-repeat center center;
      background-color: #15A4FB;
}
.naver{
      background: url("./logo/logo-naver.png") no-repeat center center;
      background-color: #04CF61;
}
.checkLoginRemain{
      height: 7%;
}
.forgotPw{
      height: 7%;
}