@keyframes openPtList {
      from {
            opacity: 0;
            transform: translateY(-40%);
      }
      to{
            opacity: 1;
            transform: translateY(0);
      }
}

.test {
      animation: openPtList 1s ease-in-out 0s 1 normal forwards; ;
}

.ptlistHeader
{
      position: sticky;
}

.ptList{
      width: 99%;


      display: flex;
      flex-direction : row-reverse;
      justify-content: center;
      & > div {
            width: 20%;
      }
      & > section {
            width: 78%;

      }
}

.ptlistTitle{
      display: flex;
      justify-content: space-around;
      & > section {
            font-weight: bold;
      }
      &  >section:nth-child(1) {
            width: 40%;
            text-align: center;
        }
        &  >section:nth-child(2) {
            width: 10%;
            text-align: center;
        }
        &  >section:nth-child(3) {
            width: 20%;
            text-align: center;
        }
        &  >section:nth-child(4) {
            width: 30%;
            text-align: center;
        } 
}
.noneList {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      color : #78B27A;
      height: 700px;
}
.ptHeader {
      display :flex;
      flex-direction : column;
}
#ptListAll {
      height: 700px;
      overflow-y: auto;
}
#teamInfo{
      margin-top: 10%;
      margin-left: 10%;
      & >p{
            font-size: 1.5em;
      }
}
.teamInfo {
      display:flex;
      justify-content: space-between;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;

}
.teamMember {
      & > p:nth-child(1){
            color:#78B27A;
            &::after{
                  content:"  (관리자)";
            }
      }
      height: 300px;
      overflow-y:auto;
}