@keyframes openPtList {
      from {
            opacity: 0;
            transform: translateY(-40%);
      }
      to{
            opacity: 1;
            transform: translateY(0);
      }
}

.test {
      animation: openPtList 1s ease-in-out 0s 1 normal forwards; ;
}

.ptlistHeader
{
      position: sticky;
}

.ptList{
      width: 99%;

      height:80vh;
      display: flex;
      flex-direction : row-reverse;
      justify-content: center;
      & > div {
            width: 20%;
      }
      & > section {
            width: 78%;

      }
}

.ptlistTitle{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      & > section {
            font-weight: bold;
      }
      & > section {
            width: 20%;
            text-align: center;
      }
}
.noneList {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      color : #78B27A;
      height: 80vh;
}
.ptHeader {
      display :flex;
      flex-direction : column;
      border-left: 1px solid #78B27A;
      height: 88vh;
}
#ptListAll {
      height: 80vh;
      overflow-y: auto;
}
#teamInfo{
      margin-top: 10%;
      margin-left: 10%;
      & >p{
            font-size: 1.5em;
      }
}
.teamInfo {
      display:flex;
      justify-content: space-between;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;

}
.teamMember {
      & > p:nth-child(1){
            color:#78B27A;
            &::after{
                  content:"  (관리자)";
            }
      }
      height: 300px;
      overflow-y:auto;
}