#presenter{
      display: flex;
      flex-direction:column
}
.presenterHeader{
      display : flex;
      justify-content: center;
      background: #78B27A;
      border-radius: 1% 1% 0 0;
      & > span{
            color : white;
            margin: 1% 0px;
            font-size: 2em;
            font-weight: bold;
            text-shadow: -3px 0 #6c986e, 0 3px #6c986e, 3px 0 #6c986e, 0 -3px #6c986e;;
      }
}
.saveNclose{
      width: 14%;
    position: absolute;
    right: 0%;
    top: 1%;
    display: flex;
    & > section {
      margin: 0px 3%;
      cursor: pointer;
    }
      &  > img {
            
            width: 100%;
            
      }
}

.IMGArrow{
      width: 44%;
}
.Info{
      display : flex;
      justify-content: space-between;
      height: 125px;
      & > scetion {
            display:flex;
            flex-direction:column;
            width: 80%;
      }
      & > scetion >scetion  {
            display: flex;
            align-items: center;
            text-align: center;
            & > p {
                  margin-left: 3%;
            }
            & > div{
                  display: flex;
                  width: 71%;
                  margin-left: 3%;
                  &  >p {
                        margin: 2%;
                  }
            }
            & strong {
                  font-size: 1.3em;
                  color : #78B27A;
            }
      }
      & > p {
            margin-right: 3%;
            font-size: 20px;
      }
}
.summary {
      display:flex;
      flex-direction : column;
      & scetion {
            display: flex;
      }
      & > scetion > span {
            margin: 1% 0 1% 2%;
            font-size: 1.6em;
            &::after {
                  content: "";
                  margin-top: 7%;
                  display: block;
                  width: 120px;
                  border-bottom: 4px solid #78b27a;
            }
      }
      & form {
            margin-left: 5%;
            margin-top: 3%;
      }
}
.recommend{
      position: absolute;
      /* width: 100%; */
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 18%;
      & div:nth-child(2){
            text-align: center;
            height: 5%;
            font-size: 1.6em;
            position: relative;
            left: -30%;
            top: -6px;
            border: 3px solid #78B27A;
            border-radius: 67%;
            width: 21%;

      }
      & img {
            width: 50%;
            cursor:pointer;
      }
}
.summaryText {
      height: 400px;
    padding: 2% 3%;

}
.next {
      position: absolute;
      right: -18%;
      top: 50%;
      & img {
            width: 75px;
            cursor: pointer;
      }
}
.previous {
      position: absolute;
      left: -18%;
      top: 50%;
      & img {
            width: 75px;
            cursor: pointer;
      }
}