.memberList {
      display: flex;
      justify-content: space-evenly;
      margin: 2%;
      padding: 1%;
      border: solid 1px black;
      border-radius: 6px;
}

.ptCreateModal
{
      height: 80%;
}
.listContainer
{
  display: flex;
  min-height: 50%;
  max-height: 100%;

}