#teamDeleteContainer{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & span {
            font-size: 2em;
            border-bottom:3px solid #78B27A;
            margin: 4% 0;
      }
}