@keyframes openTeamList {
      from {
            opacity: 0;
            transform: translateX(30%);
      }
      to{
            opacity: 1;
            transform: translateX(0);
      }
}
@keyframes openPtList {
      from {
            opacity: 0;
            transform: translateY(40%);
      }
      to{
            opacity: 1;
            transform: translateY(0);
      }
}


.openteamList {
      animation: openTeamList 1s ease-in-out 0s 1 normal forwards; ;
}
.openptList {
      animation: openPtList 1s ease-in-out 0s 1 normal forwards; ;
}
.teamlist{
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

}
#teamListContainer{
      justify-content: space-evenly;
      min-height: 750px;
      max-height: 800px;
}
.art {
      width: 21%;
      display: flex;
      flex-direction: column-reverse;
}
.whale{
      width: 19%;
}

#teamlist {
      height: 800px;
      overflow-y: auto;
      & > section:nth-child(1)
      {     
            
            display:flex;
            justify-content: space-evenly;
            & section {
                  position:sticky;
                  width: 33%;
                  text-align: center;
                  margin-top: 10px;
            }
      }
}
.list {
      & span {
            width: 33%;
            text-align: center;
      }
}

