@keyframes openTeamList {
      from {
            opacity: 0;
            transform: translateX(30%);
      }
      to{
            opacity: 1;
            transform: translateX(0);
      }
}
@keyframes openPtList {
      from {
            opacity: 0;
            transform: translateY(40%);
      }
      to{
            opacity: 1;
            transform: translateY(0);
      }
}


.openteamList {
      animation: openTeamList 1s ease-in-out 0s 1 normal forwards; ;
}
.openptList {
      animation: openPtList 1s ease-in-out 0s 1 normal forwards; ;
}
.teamlist{
      margin-left: 1vw;
      width: 20vw;
      height: 87vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

}
#teamListContainer{
      justify-content: space-evenly;
      height: 80vh;
}
.art {
      width: 21%;
      display: flex;
      flex-direction: column-reverse;
}
.whale{
      width: 19%;
}

#teamlist {
      height: 80vh;
      margin : 1% 0;
      overflow-y: auto;
      border : 3px solid #78B27A;
      border-radius: 5%;

      & > section:nth-child(1)
      {     
            
            display:flex;
            justify-content: space-evenly;
            & section {
                  position:sticky;
                  width: 33%;
                  text-align: center;
                  margin-top: 10px;
            }
      }
}
.noneTeam{
      font-size: 2em;
}
.list {
      &  > span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center;
      }
}

.selected {
      color: white;
      //text-shadow: -3px 0 #6c986e, 0 3px #6c986e, 3px 0 #6c986e, 0 -3px #6c986e;
      background-color: #78b27a;
      cursor: pointer;
}