@font-face {
  font-family: 'Oegyeinseolmyeongseo';
  src: url('./font/THE_Oegyeinseolmyeongseo.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vitroCoreTTF';
  src: url('./font/vitroCoreTTF.ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Oegyeinseolmyeongseo";
  font-size: 17px;
}
html{
  width: 100%;
}
body{
  width: 100%;
  margin:0%
}