@font-face {
  font-family: 'Oegyeinseolmyeongseo';
  src: url('./font/THE_Oegyeinseolmyeongseo.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vitroCoreTTF';
  src: url('./font/vitroCoreTTF.ttf');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Oegyeinseolmyeongseo";
  font-size: 17px;
}
*::-webkit-scrollbar{
  width: 15px;
}
*::-webkit-scrollbar-thumb{
  background-color: #78B27A; /*스크롤바의 색상*/
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 50px;
}

html{
  width: 100%;
}
body{
  width: 100%;
  margin:0%
}
span{
  text-overflow: ellipsis;
  white-space: nowrap;
}