@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'vitroCoreTTF';
  src: url('./font/vitroCoreTTF.ttf');
  font-weight: normal;
  font-style: normal;
}
html{
  font-family: "MaruBuri-Regular";
  width: 100%;
}
body{
  width: 100%;
  margin:0%
}